@import url('https://fonts.cdnfonts.com/css/glacial-indifference-2');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-weight: 100;
   
}
body{
    background-color: white;
    font-family: 'Roboto', sans-serif;
    
}
.logo{
    align-content: center;
    padding: 2.8646vw 6.7708vw;
    font-weight: 1 !important;
    font-family: 'Glacial Indifference', sans-serif;
    display: flex;
}

.logo h1{
    font-weight: 1;
    display:grid;
    align-items: center;
}
.menu{
    font-family: 'Glacial Indifference', sans-serif;
    align-content: center;
    justify-content: space-between;
    display: flex;
    
}
.menu > ul{
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    padding: 2.0833vw 5.2083vw;
    margin-bottom: 0vw;
   
}
.menu li{
    justify-content: space-between;
    border: solid 1.0417vw white;
  
}
.menu a{
 text-decoration: none;
 color: #232323;
}         
.corpo{
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    padding: 2.0833vw 5.2083vw;
    margin-bottom: 0vw;
}     
.slogan{
    padding: .7813vw 4.6875vw;

    display: grid;
    justify-content: center;

}  
#grande{
    font-size: 4.6875vw;
   justify-content: space-between;
   font-family: 'Roboto', sans-serif;
   height: 9.8958vw;
   font-weight: 1000;
   
}

#pequeno{
    font-size: 1.8229vw;
    height: 2.8646vw;
    font-family: 'Roboto', sans-serif;
    display: grid;
    align-content: center;
}
.animacao{
  display: flex;
  width: 36.4583vw;
  height: 36.4583vw;
  align-content: right;
}            
 
.l-section {
  transform: skewY(-3deg);
  background-color:black;
  height: 7.8125vw;
}
.l-section2 {
    transform: skewY(-3deg);
    background-color:white;
    height: 3.125vw;
  }
 .divisoria{
    height: 5.2083vw;
    background-color:black;
    top: 1.0417vw;
    justify-content: space-between
 }
.l-section__content {
  transform: skewY(-2deg);
  background-color: black;
 height: 7.8125vw;
}                        
.divisoria h1{
 color: white;
 background-color: black;
}
.segurança{
    background-color: black;
    height: 45.8333vw;
   
    display: grid;
    align-content:space-evenly;
    align-items: stretch;
   
}
.espaçoSegurança h1{
    color: rgba(109, 102, 102, 0.747); 
    justify-content: space-around;
    display: grid;
    font-weight: 400;
}
.espaçoSegurança h2{
    color: white;
    justify-content: space-around;
    display: grid;
    font-size: 2.6042vw;
    font-weight: 1000;
}
.textinho{
    display: grid;
    align-content: center;
    height: 2.6042vw;
}
.slogan button{
    height: 3.6458vw;
    width: 11.4583vw;
    border-radius: 1.0417vw;
    color: white;
    background-color: black;
    font-size: 1.0417vw;
    font-weight: 1000;
}
.slogan button:hover{
    height: 3.6458vw;
    width: 11.4583vw;
    border-radius: 1.0417vw;
    border: solid .0521vw #004AAD;
    color: white;
    background-color:#004AAD;
    font-size: 1.0417vw;
    font-weight: 1000;
  
}
.espaçoSegurança{
    display: grid;
    justify-content: space-evenly;
    height: 9.8958vw;
}

#bolinhas{
    width: 10.4167vw;
    height: 10.4167vw;
}
.espaçoSegurança_texto{
    display: flex;
    justify-content: space-evenly;
    color: white;
}
#centroBolinha{
    display: grid;
    justify-items: center;
    border: .2083vw black;
    width: 16.6667vw;
    text-align: center;
    height: 16.9271vw;

}
#centroBolinha h1{
    font-size: 1.5625vw;
    display: grid;
    font-weight: 400;
}
.divisoriaPreta{
    height: 3.125vw;
    background-color: black;
}
.espaçoTraço{
    display: flex;
    justify-content: center;
}
.centraliza{
    display: flex;
    justify-content: center;
    align-items: center;
}
.centraliza h1{
    width: 31.25vw;
   
    justify-content: space-around;
    display: grid;
    
    font-size: 2.0833vw;
    color: #23232394; 
    text-align: center;
}
.quadradinhos{
    height: 40.625vw;
    display: grid;
    background-image: url("img/quadradinhos.png");
    background-repeat: no-repeat;
}

.traço{
    width: .1042vw;
    height: 6.25vw;
    background-color:  rgba(109, 102, 102, 0.747); 
}
.traço2{
    width: .1042vw;
    height: 14.5833vw;
    background-color: rgba(109, 102, 102, 0.747); 
}
.traço3{
    width: .1042vw;
    height: 31.25vw;
    background-color:  rgba(109, 102, 102, 0.747); 
}
#circulo{
    width: .7813vw;
    height: .7813vw;
    background-color: white;
    border-radius: 18.75vw;
    border: solid .1042vw  rgba(109, 102, 102, 0.747); 
}
.divisoriaBranca{
    height: 4.6875vw;
}
.espaçoColaboraçao{
    display: grid;
    justify-content: space-evenly;
    height: 9.375vw;
}
.espaçoColaboraçao h1{
    color:  rgba(109, 102, 102, 0.747); 
    justify-content: space-around;
    display: grid;
    font-weight: 400;
}
.espaçoColaboraçao h2{
    color: black;
    justify-content: space-around;
    display: grid;
    font-size: 2.6042vw;
    font-weight: 1000;
}
.espaçoQuem{
    color:black;
    justify-content: space-around;
    display: grid;
    font-size: 1.3021vw;
    text-align: center;
    
}
.espaçoQuem h1{
    font-weight: 1000;
    font-size: 2.6042vw;
}
.espaçoQuem h2{
    font-size: 1.5625vw;
}
.quem{
    height: 11.9792vw;
}
.divisoriaCinza{
    height: 10.4167vw;
    background-color:#F6F8FA;
    display: grid;
    align-items: center;
}
.construa{
    background-color: black;
    height: 28.6458vw;
    font-size: 1.3021vw;
    justify-content: space-around;
    text-align: center;
    display: grid;
    color: white;
    align-content: space-evenly;
}
.espaçoConstrua{
    display: grid;
    align-content: center;
}
.espaçoConstrua h1{
   font-weight: 1000;
   font-size: 2.6042vw;
}
.espaçoNavegue{
    display: grid;
    justify-content: center;
    align-content: center;
    height: 7.8125vw;
}
.espaçoNavegue h1{   
    font-weight: 1000;
    font-size: 2.6042vw;
}
.espaçoConstrua h2{
    color:rgba(109, 102, 102, 0.747); 
    font-size: 1.5625vw;
}
.botaoBranco{
    height: 3.6458vw;
    width: 13.5417vw;
    border-radius: 1.0417vw;
    border: solid .0521vw white;
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    font-size: 1.0417vw;
    font-weight: 1000;
}
.botaoPreto{
    height: 3.6458vw;
    width: 13.5417vw;
    border-radius: 1.0417vw;
    border: solid .0521vw white;
    color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
    font-size: 1.0417vw;
    font-weight: 1000;
}
.botaoPreto:hover{
    height: 3.6458vw;
    width: 13.5417vw;
    border-radius: 1.0417vw;
    border: solid .0521vw #9c9c9c;
    color: black;
    background-color: #9c9c9c;
    font-size: 1.0417vw;
    font-weight: 1000;
  
  }
  .botaoBranco:hover{
    height: 3.6458vw;
    width: 13.5417vw;
    border-radius: 1.0417vw;
    border: solid .0521vw #9c9c9c;
    color: black;
    background-color: #9c9c9c;
    font-size: 1.0417vw;
    font-weight: 1000;
    
  }
.botao{
    display: flex;
    justify-content: space-evenly;
   align-items: center;
}
.navegue{
    height: 36.4583vw;
    background-color: #F6F8FA;
}
.rodape{
    height: 14.0625vw;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.textinho1{
    width: 21.875vw;
    height: 9.375vw;
    align-content: space-around;
    display: flex;
    flex-wrap: wrap;
}
.textinho1 h2{
    color:  rgba(109, 102, 102, 0.747);  
}
    
.textinho2{
    width: 10.1563vw;
    height: 9.1146vw;
    align-content: space-around;
    display: flex;
    flex-wrap: wrap;
    font-size: .7292vw;
}
.textinho3{
    width: 3.6458vw;
    height: 11.4583vw;
    align-content: space-around;
    display: flex;
    flex-wrap: wrap;
    font-size: .7292vw;
}
.botaoPreto2{
    
        height: 1.8229vw;
        width: 13.5417vw;
        border-radius: 1.0417vw;
        border: solid .0521vw rgb(0, 0, 0);
        color: rgb(0, 0, 0);
        background-color: rgb(255, 250, 250);
        font-size: .7813vw;
        font-weight: 400;

}
.barrinhaEmpresa{
    height: 1.5625vw;
    background-color:#93969231; 
    font-size: .4167vw;
    display: grid;
    justify-content: center;
    align-items: center;
    color:rgba(109, 102, 102, 0.747);  
}
.aspas{
    width: 4.1667vw;
    height: 3.125vw;
    padding: 0vw .1042vw;
}
.espaçoAspa{
    display: flex;
    align-items: flex-start;
    justify-content: center;
   
}
.espaçoAspa h1{
    font-size: 1.0938vw;
    color: rgba(109, 102, 102, 0.745);
}
.espaçoAspa h2{
    font-size: 1.0417vw;
}
.textoAspa{
    width: 33.8542vw;
    display: grid;
}
.espaçoLivreAspa{
    width: 5.2083vw;
}
.negrito{
    font-weight: 500;
}